<ng2-toasty [position]="position"></ng2-toasty>
<app-card title="Almacen calificacion">
  <div class="row">
    <div class="col-md-12">
      <div class="dataTables_scrollBody"
           style="position: relative; overflow: auto; max-height: 400px; width: 100%; margin-top: 10px">
        <div class="col-md-12" style="margin-top: 10px" id="loaderTablaProductos">
          <div class="align-content-center">
            <div class="preloader3" style="height: 0px; padding-top: 20px">
              <div class="circ1 loader-warning"></div>
              <div class="circ2 loader-warning"></div>
              <div class="circ3 loader-warning"></div>
              <div class="circ4 loader-warning"></div>
            </div>
          </div>
        </div>

        <table class="table table-striped table-bordered nowrap dataTable" role="grid"
               aria-describedby="scr-vrt-dt_info" style="width: 100%;">
          <thead>
          <tr role="row" style="height: 0px;">
            <th style="width: 144.45px;">
              Codigo
            </th>
            <th style="width: 144.45px;">
              Descripcion
            </th>
            <th style="width: 70px;">
              Cantidad
            </th>
            <th style="width: 70px;">
              Acciones
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let registros of listAlamacen" role="row" class="odd Tablas filaTabla test"
              (click)="[cargarCantidad(registros),modalNuevasAntidades.show()]">
            <td>{{registros.id_almacen_calificacion}}</td>
            <td>{{registros.descripcion_alamacen_calificacion}}</td>
            <td>{{registros.total_cantidad_almacen_calificacion}}</td>
            <td><i class="ti-package"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-card>

<app-modal-basic #modalNuevasAntidades>
  <div class="app-modal-header">
    <h4 class="modal-title">¿Agregar nueva cantidad?</h4>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-4">
        <h4 class="sub-title">Producto</h4>
        <label>{{objAlamacen.descripcion_alamacen_calificacion}}</label>
      </div>
      <div class="col-md-4">
        <h4 class="sub-title">Cantidad actual</h4>
        <input class="form-control" placeholder="Cantidad" value="{{objAlamacen.total_cantidad_almacen_calificacion}}"
               disabled/>
      </div>
      <div class="col-md-4">
        <h4 class="sub-title">Nueva cantidad</h4>
        <input class="form-control" placeholder="Cantidad" type="text" name="nuevaCantidad" #nuevaCantidaM="ngModel"
               [(ngModel)]="nuevaCantidad"/>
      </div>
    </div>
    <button class="btn btnPropio" (click)="[agregarNuevaCantidad(),modalNuevasAntidades.hide()]" style="width: 100%; margin-top: 5px">Agregar cantidad</button>
  </div>
</app-modal-basic>
