<ng2-toasty [position]="position"></ng2-toasty>
<app-card [title]="'Crear permisos'">
  <div class="row" id="datosBasicosCrearPermisos">
    <div class="col-sm-12 col-md-6">
      <h4 class="sub-title">Descripcion</h4>
      <input class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion"
             #descripcionExamen="ngModel"
             [ngStyle]="{'border': objRol.descripcion_rol== '' ? 'red solid 1px' : '#577928 solid 1px'}"
             [(ngModel)]="objRol.descripcion_rol">
    </div>
    <div class="col-sm-12 col-md-6 col-xs-12">
      <h4 class="sub-title">Estado</h4>
      <select class="form-control"
              [ngStyle]="{'border': objRol.estado_rol == '000' ? 'red solid 1px' : '#577928 solid 1px'}"
              [(ngModel)]="objRol.estado_rol">
        <option value="000">Seleccione</option>
        <option value="ACTIVO">Activo</option>
        <option value="INACTIVO">Inactivo</option>
      </select>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 10px;">
    <div class="row" style="float: right; ">
      <button style="padding: 5px; margin: 5px" class="btn btn-sm btnPropio" (click)="crearRol()" id="btnCrearRol"
              [disabled]="objRol.descripcion_rol == '' || objRol.estado_rol == '000'">
        Crear contrato
      </button>

      <button style="padding: 5px; margin: 5px" class="btn btn-sm btnPropio" id="btnActualizarRol"
              (click)="actualizarRol()">Actualizar registro
      </button>
    </div>
  </div>
</app-card>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Tabla de roles'">
      <div class="dataTables_scrollBody"
           style="position: relative; overflow: auto; max-height: 400px; width: 100%; margin-top: 10px">
        <div class="col-md-12" style="margin-top: 10px" id="loaderTablaPermisos">
          <div class="align-content-center">
            <div class="preloader3" style="height: 0px; padding-top: 20px">
              <div class="circ1 loader-warning"></div>
              <div class="circ2 loader-warning"></div>
              <div class="circ3 loader-warning"></div>
              <div class="circ4 loader-warning"></div>
            </div>
          </div>
        </div>

        <table class="table table-striped table-bordered nowrap dataTable" role="grid"
               aria-describedby="scr-vrt-dt_info" style="width: 100%;">
          <thead>
          <tr role="row" style="height: 0px;">
            <th style="width: 144.45px;">
              Codigo
            </th>
            <th style="width: 144.45px;">
              Descripcion
            </th>
            <th style="width: 144.45px;">
              Estado
            </th>
            <th style="width: 70px;">
              Acciones
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let rol of listRol" role="row" class="odd Tablas filaTabla">
            <td>{{rol.id_rol}}</td>
            <td>{{rol.descripcion_rol}}</td>
            <td><span [class]="rol.estado_rol == 'activo' || rol.estado_rol == 'ACTIVO' ? 'pcoded-badge label label-success':'pcoded-badge label label-danger'" >{{rol.estado_rol}}</span></td>
            <td style="text-align: center">
              <button class="btn botones-tablas btnPropio" style="font-size: 10px"
                      (click)="seleccionarRol(rol)"><i
                class="icofont icofont-ui-edit"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
